<section>

    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="expand">
            <mat-expansion-panel-header (click)="expand=!expand">

                <mat-panel-description>
                    <h5><strong>Student Admission</strong></h5>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="studentAdmissionForm">
                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step label="Personal Details">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Fullname:</mat-label>
                                    <input matInput formControlName="name" placeholder="Fullname" required>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="name"></app-form-field-error>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Address:</mat-label>
                                    <input matInput formControlName="address" placeholder="Address" required>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="address"></app-form-field-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Email:</mat-label>
                                    <input matInput formControlName="email" placeholder="Email Address">
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="email"></app-form-field-error>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="gender" required>
                                        <mat-option value="">Select</mat-option>
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="gender"></app-form-field-error>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Phone:</mat-label>
                                    <input matInput formControlName="phone" placeholder="Phone">
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="phone"></app-form-field-error>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput [matDatepicker]="dobPicker" formControlName="dob">
                                    <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #dobPicker></mat-datepicker>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="dob"></app-form-field-error>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>City:</mat-label>
                                    <input matInput formControlName="city_id" placeholder="City" required>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="city_id"></app-form-field-error>
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperNext color="accent">Next</button>
                        </div>
                    </mat-step>
                    <mat-step label="Student Details">
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Class</mat-label>
                                    <mat-select formControlName="class_id" required
                                        (selectionChange)="onChangeClass($event)">
                                        <mat-option *ngFor="let class of classes$ | async;" [value]="class.value">
                                            {{ class.label }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="class_id"></app-form-field-error>
                            </div>
                            <!--  -->
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Section</mat-label>
                                    <mat-select formControlName="section_id" required>
                                        <mat-option *ngFor="let section of sections$ | async;" [value]="section.value">
                                            {{ section.label }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="section_id"></app-form-field-error>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Parent</mat-label>
                                    <mat-select formControlName="parent_id">
                                        <mat-option *ngFor="let parent of parents$ | async;" [value]="parent.value">
                                            {{ parent.label }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="parent_id"></app-form-field-error>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Admission Date</mat-label>
                                    <input matInput [matDatepicker]="admissionDatePicker"
                                        formControlName="admission_date">
                                    <mat-datepicker-toggle matSuffix [for]="admissionDatePicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #admissionDatePicker></mat-datepicker>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="admission_date"></app-form-field-error>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Age</mat-label>
                                    <input matInput formControlName="age" placeholder="Age" required>
                                </mat-form-field>
                                <app-form-field-error [errors]="formErrors" name="age"></app-form-field-error>
                            </div>
                            <div>
                                <button mat-button matStepperPrevious color="accent">Back</button>
                                <button mat-button (click)="submitForm()" color="primary">Submit
                                    Form</button>
                            </div>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

</section>