<p-table #manageSectionTable [value]="rows" [lazy]="true" (onLazyLoad)="initSubjects($event)"
    [paginator]="true" [rows]="dtPageOptions.rows" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Short Name</th>
            <th>Class</th>
            <th>Teacher</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subject>
        <tr>
            <td>1</td>
            <td>{{subject.name}}</td>
            <td></td>
            <td>{{subject.class.name}}</td>
            <td>{{subject.staff.user.name}}</td>
            <td>
                <button pButton pRipple type="button" [routerLink]="['/subjects/edit', subject.id ]" icon="pi pi-pencil" class="p-button p-button-info  p-button-text">Edit</button>
            </td>
        </tr>
    </ng-template>
</p-table>
