<section>
    
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="'true'">
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <h5><strong>Search Students</strong></h5>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-horizontal-stepper #stepper>
                    <mat-step label="Manage Marks">
                       
                        <mat-form-field class="col-md-3">
                            <mat-label>Class</mat-label>
                            <mat-select [(ngModel)]="searchStudents.class_id" required (selectionChange)="onChangeClass($event)">
                                <mat-option *ngFor="let class of classes$ | async;" value="{{ class.value }}">
                                    {{ class.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-md-3">
                            <mat-label>Section</mat-label>
                            <mat-select [(ngModel)]="searchStudents.section_id" required>
                                <mat-option *ngFor="let section of sections$ | async;" value="{{ section.value }}">
                                    {{ section.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <button mat-button (click)="fetchStudentWithMarks()" matStepperNext color="primary">Search Students</button>
                        </div>
                    </mat-step>

                </mat-horizontal-stepper>

            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="'true'" *ngIf="studentsWithMarks?.length">
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <h5><strong>Student With Marks</strong></h5>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p-table [value]="studentsWithMarks">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Admission No.</th>
                            <th>Action</th>
                           
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-student let-i="rowIndex">
                        <tr >
                            <td>{{ i+1 }}</td>
                            <td>{{student.student_name}}</td>
                            <td>{{student.admission_no}}</td>
                            <td>  <button mat-button (click)="viewMarkSheet(student)"  color="primary">View Marksheet</button> </td>
                        </tr>
                    </ng-template>
                </p-table>
            </mat-expansion-panel>
        </mat-accordion>
    
</section>